@font-face {
    font-family: 'FontAwesome';
    src: url('../fa/fontawesome-webfont.ttf');
}
* {
    -fx-font-family: 'FontAwesome' !important;
}

.text{
    -fx-font-smoothing-type: gray;
    -fx-font-family: 'FontAwesome' !important;
}

.pane {
    -fx-background-color: #1d2326;
    -fx-font-family: 'FontAwesome' !important;
}

.jfx-text-field {
    -fx-font-size: 0.8em;
}
/************/
/* TAB PANE */
/************/

.tab-header-background {
    -fx-background-color: #1d2326;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: FA9600;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab {
    -fx-background-color: DEDEDE;
    -fx-padding: 20px;
}


.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-style: segments(0.166667em, 0.166667em);
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 0 1 0;
}

.jfx-tab-pane {
    -fx-font-size: 30px;
    -fx-focus-color: red;
    -fx-faint-focus-color: red;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-style: segments(0.166667em, 0.166667em);
    -fx-border-width: 1;
    -fx-border-color: -fx-focus-color;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: orange;
    -fx-pref-height: 3px;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: orange;
}

/**************/
/* TABLE VIEW */
/**************/
.table-view .table-row-cell {
    -fx-border-width: 0;
    -fx-font-size: 15px;
    -fx-alignment: center;
}

.table-view .table-cell {
    -fx-alignment: center;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
}

.table-view .column-header-background{
    -fx-background-color: DEDEDE;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-pref-height: 35;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #1d2326;
    -fx-font-size: 14px;
}




.anchor-pane {
    -fx-background-color: #FFFFFF;
}


/* Text area scrollBar */
.text-area {
    -fx-border-color:derive(gray,80%);
    /*     -fx-border-color: #1d2326;*/
    -fx-background-radius: 0px;
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}

/* The main scrollbar CSS class of ListView */
.scroll-bar:horizontal ,
.scroll-bar:vertical{
    -fx-background-color:transparent;

}

/* The increment and decrement button CSS class of scrollbar */

.text-area .increment-button ,.mylistview .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
}

/**************/
/* SCROLL BAR */
/**************/

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}